services:
  - type: static
    name: thebadgerspage-frontend
    env: static
    plan: free
    buildCommand: cd frontend && npm install && npm run build
    staticPublishPath: frontend/dist
    customDomains:
      - name: the-badgers.com
      - name: www.the-badgers.com
    routes:
      - type: rewrite
        source: /api/productos/
        destination: https://thebadgersadmin.onrender.com/api/productos/
      - type: rewrite
        source: /*
        destination: /index.html