services:
  - type: web
    name: thebadgerspage-backend
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn thebadgerspage.wsgi:application"
    # autoDeploy: false
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: thebadgerspage-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
  - type: static
    name: thebadgerspage-frontend
    env: static
    # autoDeploy: false
    buildFilter:
      paths:
      - frontend/**
    buildCommand: "cd frontend && npm install && npm run build"
    staticPublishPath: "frontend/dist"
    routes:
      - type: rewrite
        source: /api/(.*)
        destination: https://thebadgerspage-backend.onrender.com/api/$1
      - type: rewrite
        source: /admin/(.*)
        destination: https://thebadgerspage-backend.onrender.com/admin/$1
      - type: rewrite
        source: /static/admin/(.*)
        destination: https://thebadgerspage-backend.onrender.com/static/admin/$1
      - type: rewrite
        source: /*
        destination: /index.html
databases:
  - name: thebadgerspage-db
    databaseName: thebadgerspage
    user: thebadgerspage
    plan: free